body{
    margin:0;
    padding:0;
    overflow:hidden;
    display:flex;
    justify-content: space-between;
    align-items:flex-start;
    align-content:flex-start;
    flex-wrap: wrap;
    overflow-y:auto;
}
html,body{
    width:100%;
    height:100%;
}
.canvas-wrapper{
    width:32.8%;
    height:30%;
    margin-bottom:10px;
    background-color:#000;
}
canvas{
    width:100%;
    height:100%;
}
